@media (min-width: 1440px) {
    header {
        background-color: #E1EDE6;
        height: 100px;
        font-size: 20px;
    }
    .wrap {
        padding: 0 165px;
    }

    .wrap:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-nav-and-cart {
        display: flex;
    }

    .list-img {
        display: none;
    }

    .cross {
        display: none;
    }

    .header-nav {
        margin-right: 100px;
        padding: 0;
        flex-grow: 1;
        display: flex;
        justify-content: end;
        gap: 100px;
    }

    .introduction {
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .introduction img {
        width: 45%;
    }

    h1 {
        font-size: 60px;
    }

    .introduction-text p {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .introduction-text a {
        height: 65px;
        width: 225px;
        padding-top: 20px;
        font-size: 20px;
    }

    .gallery {
        margin-top: 30px;
    }

    h2 {
        font-size: 40px;
    }

    .gallery h2 {
        width: 50%;
        padding-top: 12px;
    }

    .countries-list {
        gap: 40px;
        width: 50%;
        justify-content: flex-end;
    }

    .products-list {
        justify-content: space-between;
    }

    .products-list li article {
        height: 730px;
        width: 350px;
        padding: 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .artist {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 30px;
    }

    .materials {
        font-size: 18px;
        margin-top: 10px;
    }

    .cost {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .buy-button {
        height: 65px;
        font-size: 20px;
        padding-top: 18px;
    }

    .new-collection {
        padding: 50px 165px;
    }

    .new-collection p {
        width: 50%;
    }

    .collection-button {
        width: 257px;
        height: 45px;
        padding-top: 20px;
        font-size: 20px;
        margin-top: 60px;
    }

    .wrap.our-team {
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    .wrap.our-team > img {
        width: 40%;
    }

    .wrap.our-team p {
        font-size: 18px;
    }

    footer {
        height: 168px;
    }

    footer .wrap {
        gap: 30px;
    }
}