@media (min-width: 1440px) {
    header {
        background-color: #E1EDE6;
        height: 100px;
    }
    .wrap {
        padding: 0 165px;
        height: 100%;
    }

    .wrap:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-title span {
        position: relative;
        bottom: 10px;
        color: #598D66;
        font-weight: 700;
    }

    .header-nav {
        margin-right: 100px;
        padding: 0;
        flex-grow: 1;
        display: flex;
        justify-content: end;
        gap: 100px;
    }
}