@media (min-width: 1440px) {
    header {
        background-color: #E1EDE6;
        height: 100px;
        font-size: 20px;
    }
    .wrap {
        padding: 0 165px;
        height: 100%;
    }

    .wrap:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-title span {
        position: relative;
        bottom: 10px;
        color: #598D66;
        font-weight: 700;
    }

    .header-nav-and-cart {
        display: flex;
    }

    .list-img {
        display: none;
    }

    .cross {
        display: none;
    }

    .header-nav {
        margin-right: 100px;
        padding: 0;
        flex-grow: 1;
        display: flex;
        justify-content: end;
        gap: 100px;
    }

    main .wrap {
        display: flex;
        flex-direction: column;
    }

    .introduction {
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .introduction img {
        width: 45%;
    }

    .introduction-text {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin: 0;
        font-size: 60px;
    }

    h1 span {
        color: #598D66;
    }

    .introduction-text p {
        color: #86928B;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .introduction-text a {
        color: #598D66;
        height: 65px;
        width: 225px;
        box-sizing: border-box;
        border: #598D66 1px solid;
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
    }

    .introduction-text a:hover {
        background-color: #598D66;
        color: white;
    }

    .gallery {
        margin-top: 30px;
        width: 100%;
    }

    .reproductions {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 44px;
    }

    h2 {
        font-size: 40px;
    }

    .countries-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .current-country {
        background-color: #376B44;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .another-country {
        background-color: #D4E8D9;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .another-country:hover {
        background-color: #598D66;
        color: white;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .products li {
        height: 730px;
        width: 350px;
        padding: 20px;
        background-color: #E1EDE6;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .products li img {
        width: 100%;
    }

    .artist {
        color: #86928B;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 30px;
    }

    .materials {
        font-size: 18px;
        margin-top: 10px;
    }

    .cost {
        color: #598D66;
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .buy-button {
        width: 100%;
        height: 65px;
        box-sizing: border-box;
        border: #598D66 1px solid;
        color: #598D66;
        text-align: center;
        font-size: 20px;
        padding-top: 18px;
    }

    .buy-button:hover {
        background-color: #598D66;
        color: white;
    }

    .new-collection {
        background: url(img/background.png) no-repeat center / cover;
        padding: 50px 165px;
        color: white;
        margin-top: 20px;
    }

    .collection-header {
        display: flex;
        width: 50%;
        gap: 10px;
    }
    
    .collection-header img {
        display: inline-block;
    }

    .new-collection p {
        width: 50%;
        font-size: 18px;
    }

    .collection-button {
        background-color: #EEDB6D;
        display: block;
        width: 257px;
        height: 45px;
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        margin-top: 60px;
    }

    .collection-button:hover {
        background: #FAEB97;
    }

    #our-team {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
    }

    #our-team > img {
        width: 40%;
    }

    #our-team p {
        font-size: 18px;
    }

    .team-portraits {
        display: flex;
        justify-content: start;
        gap: 25px;
        height: 80px;
        padding: 0;
    }

    .team-portraits li {
        width: 80px;
    }

    .team-portraits li img {
        display: block;
        width: 100%;
    }
}