@media (max-width: 1440px) and (min-width: 768px) {
    header {
        background-color: #E1EDE6;
        height: 100px;
        font-size: 18px;
    }
    .wrap {
        padding: 0 39px;
    }

    .wrap:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-nav-and-cart {
        display: flex;
    }

    .list-img {
        display: none;
    }

    .header-nav {
        padding: 0;
        margin-right: 100px;
        flex-grow: 1;
        flex-basis: 10%;
        display: flex;
        justify-content: end;
        gap: 80px;
    }

    .introduction {
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .introduction img {
        width: 40%;
    }

    h1 {
        font-size: 40px;
    }

    .introduction-text p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .introduction-text a {
        height: 60px;
        width: 210px;
        padding-top: 15px;
        font-size: 20px;
    }

    .gallery {
        margin-top: 20px;
    }

    h2 {
        font-size: 30px;
    }

    .gallery h2 {
        width: 50%;
        padding-top: 12px;
    }

    .countries-list {
        gap: 40px;
        width: 50%;
        justify-content: flex-end;
    }

    .products-list {
        justify-content: space-around;
        gap: 15px;
    }

    .products-list li article {
        height: 730px;
        width: 330px;
        padding: 20px;
        margin-top: 15px;
        box-sizing: border-box;
    }

    .artist {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 30px;
    }

    .materials {
        font-size: 18px;
        margin-top: 15px;
    }

    .cost {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    .buy-button {
        height: 65px;
        font-size: 20px;
        padding-top: 18px;
    }

    .new-collection {
        padding: 50px 39px;
    }

    .collection-button {
        width: 210px;
        height: 45px;
        padding-top: 15px;
        font-size: 20px;
        margin-top: 40px;
    }

    .wrap.our-team {
        align-items: left;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    .wrap.our-team > img {
        width: 50%;
    }

    .wrap.our-team p {
        font-size: 18px;
    }

    footer {
        height: 250px;
    }
}
