@media (max-width: 1440px) and (min-width: 768px) {
    header {
        background-color: #E1EDE6;
        height: 100px;
        font-size: 18px;
    }
    .wrap {
        padding: 0 39px;
        height: 100%;
    }

    .wrap:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-title span {
        position: relative;
        bottom: 10px;
        color: #598D66;
        font-weight: 700;
    }

    .header-nav-and-cart {
        display: flex;
    }

    .list-img {
        display: none;
    }

    .cross {
        display: none;
    }

    .header-nav {
        padding: 0;
        margin-right: 100px;
        flex-grow: 1;
        flex-basis: 10%;
        display: flex;
        justify-content: end;
        gap: 100px;
    }

    main .wrap {
        display: flex;
        flex-direction: column;
    }

    .introduction {
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .introduction img {
        width: 40%;
    }

    .introduction-text {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin: 0;
        font-size: 40px;
    }

    h1 span {
        color: #598D66;
    }

    .introduction-text p {
        color: #86928B;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .introduction-text a {
        color: #598D66;
        height: 60px;
        width: 210px;
        box-sizing: border-box;
        border: #598D66 1px solid;
        text-align: center;
        padding-top: 15px;
        font-size: 20px;
    }

    .introduction-text a:hover {
        background-color: #598D66;
        color: white;
    }

    .gallery {
        margin-top: 20px;
        width: 100%;
    }

    .reproductions {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 44px;
    }

    h2 {
        font-size: 30px;
    }

    .countries-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .current-country {
        background-color: #376B44;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .another-country {
        background-color: #D4E8D9;
        padding: 10px 15px;
        border-radius: 20px;
    }
}
