@media (max-width: 1440px) and (min-width: 768px) {
    header {
        background-color: #E1EDE6;
        height: 100px;
    }
    .wrap {
        padding: 0 39px;
        height: 100%;
    }

    .wrap:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-title span {
        position: relative;
        bottom: 10px;
        color: #598D66;
        font-weight: 700;
    }

    .header-nav-and-cart {
        display: flex;
    }

    .list-img {
        display: none;
    }

    .cross {
        display: none;
    }

    .header-nav {
        padding: 0;
        margin-right: 100px;
        flex-grow: 1;
        flex-basis: 10%;
        display: flex;
        justify-content: end;
        gap: 100px;
    }
}
