@media (max-width: 768px) and (min-width: 576px) {
    header {
        background-color: #E1EDE6;
        height: 123px;
        font-size: 18px;
    }

    .wrap {
        padding: 0 33px;
        height: 100%;
    }

    .logo-title {
        width: 100%;
        text-align: center;
        border-bottom: 1px #C3D1C6 solid;
        padding: 16px 0;
    }

    .logo-title span {
        position: relative;
        bottom: 10px;
        color: #598D66;
        font-weight: 700;
    }

    .header-nav-and-cart {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .list-img {
        display: none;
    }

    .cross {
        display: none;
    }

    .header-nav {
        padding: 0;
        display: flex;
        gap: 80px;
    }

    main .wrap {
        display: flex;
        flex-direction: column;
    }

    .introduction {
        display: flex;
        gap: 5%;
        align-items: center;
        padding-top: 15px;
    }

    .introduction img {
        width: 35%;
    }

    .introduction-text {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin: 0;
        font-size: 36px;
    }

    h1 span {
        color: #598D66;
    }

    .introduction-text p {
        color: #86928B;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .introduction-text a {
        color: #598D66;
        height: 50px;
        width: 178px;
        box-sizing: border-box;
        border: #598D66 1px solid;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
    }

    .introduction-text a:hover {
        background-color: #598D66;
        color: white;
    }

    .gallery {
        margin-top: 20px;
        width: 100%;
    }

    .reproductions {
        width: 100%;
    }

    h2 {
        font-size: 24px;
    }

    .countries-list {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 0;
        font-size: 18px;
    }

    .current-country {
        background-color: #376B44;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .another-country {
        background-color: #D4E8D9;
        padding: 10px 15px;
        border-radius: 20px;
    }
}